<template name="leaderboard">

  <h1>Leader Board - {{count}} players</h1>
  <h2 class="target lead">{{showSelectedPlayer.name}} - {{showSelectedPlayer.score}}</h2>

  <ul class="list">
    {{#each player}}
      <li class="player lead {{selectedClass}}">{{name}}: {{score}}</li>
    {{/each}}
  </ul>
  <br>
  <h6>Double click on a player to delete it</h6>
  {{#if showSelectedPlayer}}
    <h2>______________________</h2>
    <input type="button" class="increment btn btn-default" value="Give 5 Points">
    <input type="button" class="decrement btn btn-default" value="Take 5 Points">
  {{/if}}
  
</template>